<div class="container">
  <div class="meme">
    <% @memes_by_date.each do |date,memes| %>
    <p class="meme-title"><%= format_date(date) %></p>
    <div class="meme-container">
      <% memes.each do |meme| %>
      <div class="meme-meme">
        <div class="meme-imgcontainer">
          <img src=<%= meme.url_source %> alt="" class="meme-img">
        </div>
        <div class="meme-created">
          <p class="meme-by">created by: <span class="meme-username"><%=meme.owner.username %></span></p>
        </div>
      </div>
      <%end %>
    </div>
    <%end%>
  </div>
</div>